* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #ff4500;
    color: white;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container > div{
    padding: 10px 0;
}

.title{
    font-size: 2rem;
    text-transform: uppercase;
}



div > button{
    padding: 10px 18px;
    background: #ff4500;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;

}

div>button:hover{
    background: white;
    color: #ff4500;
    transition: .5s;
   
}

.box{
    width: 300px;
    height: 300px;
    border: 2px dotted white;
}

.word{
    font-size: 2.5rem;
}
